.container-hospital {
    width: 38%;
  }
.cardStyle_New {
    width: 90%;
    height: auto;
    /* margin-bottom: 20px; */
}
.custom-radio{
    width: 20px;
    height: 20px;
}
.radio-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* ระยะห่างด้านล่าง */
}
.checkbox-all {
    display: flex;
    align-items: center;
    margin-bottom: 2px; /* ระยะห่างด้านล่าง */
}

.radio-label input {
    margin-right: 5px; /* ระยะห่างด้านขวาของ radio button */
}
.container-checkbox{
    font-size: 12px;
    display: flex;
    flex-direction: row; /* จัดเรียงแนวนอน */
    justify-content: space-between; /* กระจายไปทั่วขอบ */
}
.newsTitle {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}
.button-send{
    max-width: 320px;
    display: flex;
    padding: 0.6rem 1.4rem;
    font-size: 1.375rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: #1095c6;
    cursor: pointer;
    transition: all 0.0s ease;
    font-family: 'Kanit', sans-serif;
    padding: 10px 80px 10px 80px;
    margin: 0px 50px 0px 50px;
}
.textFieldStyle {
    margin-top: 20px;
    background-color: rgb(238, 239, 239);
    width: 100%;
    height: 50%;
    font-size: 12px;
    justify-items: center;
    border-radius: 10px;
}
.textFieldInput {
    font-size: 10px; /* Adjust the input text size */
    width: auto;
}
.leftRotate {
    display: inline-block;
    transform: scaleX(-1); /* This will flip the emoji horizontally */
    animation: leftMovement 2s infinite;
}

.rightRotate {
    display: inline-block;
    animation: rightMovement 2s infinite;
}
.scrollable-container {
    font-family: 'Kanit', sans-serif;
    margin: 10px;
    max-height: 290px;
    overflow-y: auto;
}
.scrollable-container::-webkit-scrollbar {
    width: 8px; /* กำหนดความกว้างของ scrollbar */
    background-color: #ffffff; /* สีพื้นหลังของ scrollbar */
    border-radius: 10px;
}
.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888; /* สีของ Thumb */
    border-radius: 8px; /* กำหนดรูปทรงของ Thumb */
}
.scrolla-list{
    margin: 10px;
    max-height: 150px;
    overflow-y: auto;
}
.tableStyle {
    width: 100%;
    border-collapse: collapse;
}

.tableStyle th, .tableStyle td {
    font-size: 12px;
    padding: 6px 10px;
    text-align: left;
    border: none;
}
.Card-List-data{
    right: 100%;
    width: auto;
    height: 216px;
}
input[type="checkbox"] {
    transform: scale(1.5); /* ขยาย checkbox เป็น 1.5 เท่าของขนาดปกติ */
    color : aqua
}


@keyframes leftMovement {
    0%, 100% {
        transform: scaleX(-1) rotate(15deg);
    }
    50% {
        transform: scaleX(-1) rotate(-20deg);
    }
}

@keyframes rightMovement {
    0%, 100% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}
@media (max-width: 480px) {

}
@media (max-width: 420px) {

}