.containerStype{
    background-image: url('../images-iclaim/blur-hospital.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* ขนาดความสูงของพื้นหลังเท่ากับ viewport ให้ครอบทุกส่วนของเนื้อหา */
    width: 100%; /* พื้นหลังขนาดเท่ากับ containerStype */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .custom-checkbox-internal-internalv2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #d9d9d9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .custom-checkbox-internal-internalv2:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .custom-checkbox-internal-internalv2:active {
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .custom-checkbox-internal-1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60%;
  }

  @media (max-width: 1030px) {

  }
  @media (max-width: 768px) {

  }
  @media (max-width: 420px) {

  }