.background-profile {
    background-image: url();
  }
  /*แยก Style จาก*/
  .containerStype{
    background-image: url('../images-iclaim/blur-hospital.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh; /* ขนาดความสูงของพื้นหลังเท่ากับ viewport ให้ครอบทุกส่วนของเนื้อหา */
    width: 100%; /* พื้นหลังขนาดเท่ากับ containerStype */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .Text_Log{
    position: absolute;
    top: 0;
    background: none;
    margin: 180px 2px;
    font-size: 24px;
    font-weight: 900;
  }
  /*-------------------------------*/
  .background_log{
    display: flex;
    gap: 0;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
  }
  .box_insert_data1{
    display: flex;
    gap: 0;
  }
  .insert_date1{
    background: #ffffff;
    width: 25%;
    padding: 10px;
    text-align: center;
  }
  .box_insert_data2{

    display: flex;
    font-family: 'Kanit', sans-serif;
    align-items: flex-start; /* จัดให้เริ่มต้นที่ด้านบน */
    justify-content: center; /* จัดให้อยู่กึ่งกลางตามแนวนอน */
    font-size: 16px;
    font-weight: 700;
    gap: 0;
  }
  .insert_date2{
    width: 25%;
    text-align: center;
  }
    /*-------------------------------*/
  .appBarStyle{
    position:static;
    width: 100%;
    padding: 15px;
  }
  .cardStyle {
    width: 90%;
    height: 60%;
    overflow-y: auto;
  }
  .cardStyle_Log {
    width: 90%;
    height: 500px;
  }
  .BoxStyle {
    position: absolute;
    left: 0;
  }
  .logoStyle{
    height: 80px;
    margin-right: 10px;
    padding: 10px;
  }
  .Box1{
    position: absolute;
    right: 0;
  }
  
  .Box2{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(217,217,217);
    border: 1px rgb(217,217,217);
    border-radius: 6px;
    padding: 8px;
    max-width: auto;
    max-height: 20px;
  }
  .Avatar-img{
    margin-right: 9px;
    max-width: 28px;
    max-height: 28px;
  }
  .Menu-list{
      margin-top: 40px;
      padding: 0;
  }
  /* End */
  
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    width: 90%;
    height: 60%;
  }
  
  .container-approve-reject {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 80%;
    height: 60%;
  }
  
  button {
    border: none;
    background: none;
  }
  
  .homeicon {
    background: none;
    border: none;
    padding: 0;
    max-width: 50%;
    cursor: pointer;
  }
  
  .homeicon:hover {
    transform: scale(1.22);
  }
  
  .Fixlocation {
    position: static;
    left: 10%;
    top: 10%;
    margin-right: 15px;
    border: none;
    display: flex;
  }
  .Fixlocation-approve-reject {
    position: static;
    left: 10%;
    top: 10%;
    margin-right: 10px;
    border: none;
    display: flex;
  }
  
  .Dashboard-Internal-button {
    margin: 5px 0px 2px;
    max-width: 320px;
    display: flex;
    padding: 6px 25px;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(217, 217, 217, 0);
    gap: 0.75rem;
    color: rgb(0, 0, 0);
    background-color: #c7c7c7;
    cursor: pointer;
    transition: all 0.0s ease;
    font-family: 'Kanit', sans-serif;
  }
  
  .Dashboard-Internal-button:hover {
    transform: scale(1.10);
  }
  .Dashboard-Internal-button-date {
    margin: 5px 0px 2px;
    max-width: 100px;
    display: flex;
    padding: 6px 20px;
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(217, 217, 217, 0);
    gap: 0.75rem;
    color: rgb(0, 0, 0);
    background-color: #c7c7c7;
    cursor: pointer;
    transition: all 0.0s ease;
    font-family: 'Kanit', sans-serif;
  }
  
  .Dashboard-Internal-button-date:hover {
    transform: scale(1.10);
  }
  .custom-checkbox {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
  }
  .custom-checkbox1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 50px;
    width: 90%;
    height: 60%;
  }
  
  .button-Approve {
    max-width: 320px;
    display: flex;
    padding: 0.6rem 1.4rem;
    font-size: 1.375rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: #1095c6;
    cursor: pointer;
    transition: all 0.0s ease;
    font-family: 'Kanit', sans-serif;
    padding: 10px 80px 10px 80px;
    margin: 0px 50px 0px 50px;
  }
  
  .button-Reject {
    max-width: 320px;
    display: flex;
    padding: 0.6rem 1.4rem;
    font-size: 1.375rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: #9c0606;
    cursor: pointer;
    transition: all 0.0s ease;
    font-family: 'Kanit', sans-serif;
    padding: 10px 80px 10px 80px;
    margin: 0px 50px 0px 50px;
  }
  
  .button-Approve:hover {
    transform: scale(1.02);
  }
  
  .button-Reject:hover {
    transform: scale(1.02);
  }
  
  .dark-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 30%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  
  .notification p {
    margin: 0;
    font-size: 24px;
    color: #000000;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
  }
  
  .SuccessIcon-img {
    position: fixed;
    top: 20%;
    max-width: 50%;
    max-height: 50%;
  }
  
  .modalStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .modalStyle p {
    position: fixed;
    top: 25%;
    font-size: 30px;
    color: #000000;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  .FailIcon-img {
    position: fixed;
    max-width: 20%;
    top: 1%;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .input-field {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .input-field:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .input-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #555;
    font-size: 1rem;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  }
  
  .input-field:focus + .input-label,
  .input-field:not(:placeholder-shown) + .input-label {
    top: 0;
    font-size: 0.75rem;
    color: #007bff;
  }
  
  @media (max-width: 768px) {
    .container,
    .container-approve-reject {
        width: 100%;
    }
    .button-Approve,
    .button-Reject {
        width: 100%;
        margin: 5px 0;
        padding: 10px 40px;
        font-size: 1rem;
    }
    .modalStyle {
        width: 80%;
    }
    
  }
  
  @media (max-width: 480px) {
    .containerStype{
      background-image: url('../images-iclaim/blur-hospital.jpg');
      background-size: cover;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
    }
    /*-------------------------------*/
   .Text_Log{
    position: absolute;
    top: 0;
    background: none;
    margin: 109px 2px;
    font-size: 12px;
    font-weight: 900;
  }
   .background_log{
    display: flex;
    gap: 0;
    margin-top: 1px;
    font-size: 8px;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
  }
  .box_insert_data1{
    display: flex;
    gap: 0;
  }
  .insert_date1{
    background: #ffffff;
    width: 25%;
    padding: 3px;
    text-align: center;
  }
  .box_insert_data2{

    display: flex;
    font-family: 'Kanit', sans-serif;
    align-items: flex-start; /* จัดให้เริ่มต้นที่ด้านบน */
    justify-content: center; /* จัดให้อยู่กึ่งกลางตามแนวนอน */
    font-size: 6px;
    font-weight: 700;
    gap: 0;
  }
  .insert_date2{
    width: 25%;
    text-align: center;
  }
    /*-------------------------------*/
    .logoStyle {
      height: 40px;
      margin-right: 5px;
      padding: 5px;
    }
    .Avatar-img{
      margin-right: 9px;
      max-width: 18px;
      max-height: 18px;
    }
    .appBarStyle{
      position:static;
      width: auto;
      padding: 5px;
    }
    .Box1{
      margin-right: 10px;
    }
    .Box2{
      position: relative;
      display: flex;
      align-items: center;
      background-color: rgb(217,217,217);
      border: 1px rgb(217,217,217);
      border-radius: 6px;
      padding: 8px;
      max-width: auto;
      max-height: 10px;
    }
    .homeicon {
      margin-top: 4.5px;
      position: static;
      border: none;
      padding: 0;
      width: 25%;
      cursor: pointer;
      margin-left: 70%;
    }
    .Menu-list{
      margin-top: 27px;
      padding: 0px 10px;
      width: auto;
  }
    .cardStyle {
      width: 80%;
      height: 50%;
      margin-top: 10px;
    }
    .container{
      height: 100%;
      margin-top: 10px;
      padding: 0px;
      margin-right:10%;
    }
    .container-approve-reject {
        height: 100%;
        margin-top: 10px;
        padding: 0px;
        margin: 5% 0%;
    }
    .button-Approve,
    .button-Reject {
        padding: 10px 20px;
    }
    .Dashboard-Internal-button {
      margin: 3.8px 0px 2px;
      width: auto;
      height: 22.1px;
      display: flex;
      padding: 4px 10px;
      font-size: 8px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      border: 1px solid rgba(217, 217, 217, 0);
      gap: 0.75rem;
      color: rgb(0, 0, 0);
      background-color: #c7c7c7;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
    }
    .Dashboard-Internal-button:hover {
      transform: scale(1.10);
    }
    .Dashboard-Internal-button-date {
      margin: 3px 0px 5px;
      width:40%;
      height: 22px;
      display: flex;
      padding: 0px 10px;
      font-size: 8px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      border: 1px solid rgba(217, 217, 217, 0);
      gap: 0.75rem;
      color: rgb(0, 0, 0);
      background-color: #c7c7c7;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
    }
    
    .Dashboard-Internal-button-date:hover {
      transform: scale(1.10);
    }
    .custom-checkbox {
      background: none;
      border-radius: 50%;
    }
    .Fixlocation-approve-reject {
      position: static;
      margin-right: 80px;
      margin-left: 80px;
      border: none;
      display: flex;
    }
    .button-Approve {
      max-width: 320px;
      display: flex;
      padding: 0.6rem 1.4rem;
      font-size: 8px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      gap: 0.75rem;
      color: rgb(255, 255, 255);
      background-color: #1095c6;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
      padding: 3px 20px 3px 20px;
    }
    .button-Reject {
      max-width: 320px;
      display: flex;
      padding: 0.6rem 1.4rem;
      font-size: 8px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      gap: 0.75rem;
      color: rgb(255, 255, 255);
      background-color: #9c0606;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
      padding: 3px 20px 3px 20px;
    }
    .notification p {
      font-size: 10px;
      color: #000000;
      font-family: 'Kanit', sans-serif;
      font-weight: 700;
      margin: 0px 0px 20px 0px;
    }
    
    .SuccessIcon-img {
      position: fixed;
      top: 20%;
      max-width: 30%;
      max-height: 30%;
    }
    .notification {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: 20%;
      height: 10%;
      display: flex;
    }
    .Fixlocation {
      position: static;
      left: 10%;
      top: 10%;
      margin-right: 5px;
      border: none;
      display: flex;
    }
    .Fixlocation-date {
      position: static;
      left: 10%;
      top: 10%;
      margin-right: 5px;
      border: none;
      display: flex;
    }
    .custom-checkbox1 {
      display: flex;
      padding: 2px 0px;
      width: auto;
      height: 20%;
    }
  }
  @media (max-width: 420px) {
    .containerStype{
      background-image: url('../images-iclaim/blur-hospital.jpg');
      background-size: cover;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: auto;
    }
    .logoStyle {
      height: 40px;
      margin-right: 5px;
      padding: 5px;
    }
    .Avatar-img{
      margin-right: 9px;
      max-width: 18px;
      max-height: 18px;
    }
    .appBarStyle{
      position:static;
      width: auto;
      padding: 5px;
    }
    .Box1{
      margin-right: 10px;
    }
    .Box2{
      position: relative;
      display: flex;
      align-items: center;
      background-color: rgb(217,217,217);
      border: 1px rgb(217,217,217);
      border-radius: 6px;
      padding: 8px;
      max-width: auto;
      max-height: 10px;
    }
    .homeicon {
      margin-top: 5px;
      position: static;
      border: none;
      padding: 0;
      width: 25%;
      cursor: pointer;
      margin-left: 70%;
    }
    .Menu-list{
      margin-top: 27px;
      padding: 0px 10px;
      width: auto;
  }
    .cardStyle {
      width: 80%;
      height: 50%;
      margin-top: 10px;
    }
    .container{
      height: 100%;
      margin-top: 10px;
      padding: 0px;
      margin-right:10%;
    }
    .container-approve-reject {
        height: 100%;
        margin-top: 10px;
        padding: 0px;
        margin: 5% 0%;
    }
    .button-Approve,
    .button-Reject {
        padding: 10px 20px;
    }
    .Dashboard-Internal-button {
      margin: 3.8px 0px 2px;
      width: auto;
      height: 22.5px;
      display: flex;
      padding: 4px 10px;
      font-size: 6px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      border: 1px solid rgba(217, 217, 217, 0);
      gap: 0.75rem;
      color: rgb(0, 0, 0);
      background-color: #c7c7c7;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
    }
    .Dashboard-Internal-button:hover {
      transform: scale(1.10);
    }
    .Dashboard-Internal-button-date {
      margin: 3px 0px 5px;
      width:40%;
      height: 22px;
      display: flex;
      padding: 0px 10px;
      font-size: 7px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      border: 1px solid rgba(217, 217, 217, 0);
      gap: 0.75rem;
      color: rgb(0, 0, 0);
      background-color: #c7c7c7;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
    }
    
    .Dashboard-Internal-button-date:hover {
      transform: scale(1.10);
    }
    .custom-checkbox {
      background: none;
      border-radius: 50%;
    }
    .Fixlocation-approve-reject {
      position: static;
      margin-right: 80px;
      margin-left: 80px;
      border: none;
      display: flex;
    }
    .button-Approve {
      max-width: 320px;
      display: flex;
      padding: 0.6rem 1.4rem;
      font-size: 8px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      gap: 0.75rem;
      color: rgb(255, 255, 255);
      background-color: #1095c6;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
      padding: 3px 20px 3px 20px;
    }
    .button-Reject {
      max-width: 320px;
      display: flex;
      padding: 0.6rem 1.4rem;
      font-size: 8px;
      line-height: 1.25rem;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      align-items: center;
      border-radius: 0.5rem;
      gap: 0.75rem;
      color: rgb(255, 255, 255);
      background-color: #9c0606;
      cursor: pointer;
      transition: all 0.0s ease;
      font-family: 'Kanit', sans-serif;
      padding: 3px 20px 3px 20px;
    }
    .notification p {
      font-size: 10px;
      color: #000000;
      font-family: 'Kanit', sans-serif;
      font-weight: 700;
      margin: 0px 0px 20px 0px;
    }
    
    .SuccessIcon-img {
      position: fixed;
      top: 20%;
      max-width: 30%;
      max-height: 30%;
    }
    .notification {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: 20%;
      height: 10%;
      display: flex;
    }
    .Fixlocation {
      position: static;
      left: 10%;
      top: 10%;
      margin-right: 5px;
      border: none;
      display: flex;
    }
    .Fixlocation-date {
      position: static;
      left: 10%;
      top: 10%;
      margin-right: 5px;
      border: none;
      display: flex;
    }
  }
  