.cardStyle_Set_Permissons {
    width: 40%;
    height: 520px;

  }
  .modalContent {
    max-height: 410px; /* กำหนดความสูงสูงสุดของตารางที่เป็นส่วนของ .modalContent เมื่อข้อมูลมีมากเกินไป scrollbar จะแสดงขึ้นมาเพื่อให้สามารถเลื่อนข้อมูลได้ */
    overflow-y: auto; /* กำหนดให้มีการแสดง scrollbar เมื่อข้อมูลเกินความสูงที่กำหนด */
  }
  
  .modalContent table {
    width: 100%; /* กำหนดให้ตารางทำการขยายตามความกว้างของพื้นที่ที่มีอยู่ */
  }
  
  .modalContent table th,
  .modalContent table td {
    padding: 5px; /* ปรับขนาดของ padding สำหรับช่องว่างภายในเซลล์ของตาราง */
    border-bottom: none;
  }
  
  .modalContent table th {
    background-color: #f2f2f2; /* เพิ่มสีพื้นหลังให้กับส่วนหัวของตารางเพื่อเน้นความแตกต่างระหว่างส่วนหัวและข้อมูลในตาราง */
  }

  .Select-root {
    font-size: 16px; /* ปรับขนาดตามที่ต้องการ */
  }
  
  .Select-select {
    border-radius: 8px; /* ปรับขนาดของมุม */
  }
.Text_SetPermissons{
    background: none;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}
.form-set{
  font-family: 'Kanit', sans-serif;
  font-weight: 700px;
  font-size: 20px;
  margin: 20px;
  margin-top: 16px;
}
.text-role{
  font-size: 14px;
  margin: 0;
}
.p-style{
  margin-left: 8px;
}

  @media (max-width: 768px) {

  }
  
  @media only screen and (max-width: 480px) {
    .cardStyle_Set_Permissons {
      width: 80%;
      height: 380px;
  
    }
    .Text_SetPermissons{
      background: none;
      font-size: 6px;
      font-weight: 900;
      text-align: center;
      margin: 15px;
    }
    .form-set{
      font-family: 'Kanit', sans-serif;
      font-weight: 700px;
      font-size: 8px;
      margin: 10px;
      margin-top: 8px;
      margin-bottom: 10px; /* เพิ่มระยะห่างระหว่าง input */
    }
    .text-role{
      font-size: 8px;
      margin: 0;
    }
    .p-style{
      margin-left: 8px;
    }
    .Select-root {
      font-size: 5px; /* ปรับขนาดตามที่ต้องการ */
    }
    
    .Select-select {
      border-radius: 8px; /* ปรับขนาดของมุม */
    }
    .modalContent {
      max-height: 270px; /* กำหนดความสูงสูงสุดของตารางที่เป็นส่วนของ .modalContent เมื่อข้อมูลมีมากเกินไป scrollbar จะแสดงขึ้นมาเพื่อให้สามารถเลื่อนข้อมูลได้ */
      overflow-y: auto; /* กำหนดให้มีการแสดง scrollbar เมื่อข้อมูลเกินความสูงที่กำหนด */
    }
    
    .modalContent table {
      width: 100%; /* กำหนดให้ตารางทำการขยายตามความกว้างของพื้นที่ที่มีอยู่ */
    }
    
    .modalContent table th,
    .modalContent table td {
      padding: 5px 1px; /* ปรับขนาดของ padding สำหรับช่องว่างภายในเซลล์ของตาราง */
      border-bottom: none;
    }
    
    .modalContent table th {
      background-color: #f2f2f2; /* เพิ่มสีพื้นหลังให้กับส่วนหัวของตารางเพื่อเน้นความแตกต่างระหว่างส่วนหัวและข้อมูลในตาราง */
    }

  }
  @media (max-width: 420px) {
  }
  